.benefits-section {
  padding-bottom: 0;
}

.benefits__item {
  flex-basis: calc((100% - 90px) / 4);
  gap: 30px;
}

.benefits__icon-wrapper {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.benefits__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-dark);
  margin-bottom: 10px;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.benefits {
  display: flex;
  gap: 30px;
}
