.portfolio-title {
  color: var(--color-dark);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-item-link {
  display: block;
  transition: var(--priority-transition-boxshadow);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img-overlay-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  padding: 63px 24px;
  height: 100%;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover .portfolio-overlay,
.portfolio-item-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: var(--color-gray);
}

.portfolio-text-wrap {
  padding: 20px 24px;
  border-right: 1px solid var(--border-portfolio-text);
  border-left: 1px solid var(--border-portfolio-text);
  border-bottom: 1px solid var(--border-portfolio-text);
  /* outline: 1px solid green; */
}
